<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<style>
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #737373;
    background-color: white;
    margin: 9px 12px 10px 12px;
    background-color: #FCFFFF;
}
table {
	margin: 10px 0 14px 0;
	border-collapse: collapse;
}
td,th {	
	border: 1px solid #bababa;
	padding: 3px 9px;
}
th {
	padding: 5px 10px;	
}

a {
    color: #0273e7; /*#0069d6;*/
}
a:hover {
    color: #0162c6; /*#0050a3;*/
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232323;
    line-height: 36px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
/*code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}*/
/*sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}*/
/** {
	-webkit-print-color-adjust: exact;
}*/
/*@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
*/
/*@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}*/

/*
@page {
   @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}
@page {
  @bottom-left {

  }
}
*/

/*
.footer { position: fixed; bottom: 0px; }
.pagenum:before { content: counter(page); }
*/

/*.footer { position: relative; bottom: 0px; }*/
/*.footer { position: absolute; bottom: 0px; }*/

@page {
    font-size: 10px;
    font-style: italic;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
  }
}

/*
.header {
background-image: url("https://sqrrl.in/images/sqrrl_footer_logo@2x.png"), url("https://sqrrl.in/images/funky_triangles.svg");
background-repeat: no-repeat;
background-color: #cccccc;
background-position: center; 
background-attachment: fixed;
}
*/
.header {
padding-left: 7px;
padding-bottom: 3px;
margin-bottom: 4px;
background-repeat: no-repeat;
background-color: #eae8e8; /*#cccccc;*/
/*
background-image:url("https://sqrrl.in/images/funky_triangles.svg");
*/
}
</style>
<title>Sqrrl</title>

</head>
<body>

<div class="header">
<h3>Sqrrl Fintech</h3>
<p>Regd. Office: 33 Commercial Shopping Complex, Anand Niketan, New Delhi - 110021 
<!-- <img src="https://sqrrl.in/images/sqrrl_footer_logo@2x.png" alt="Sqrrl Fintech" width="24" height="24" align="right"> -->
</p>
</div>


<hr />

<center><h4>Monthly Account Statement</h4></center>

<p>Statement date: {{statement_date}}</p>
<p>Statement period: {{statement_period}}</p>

<p><strong>{{customer_name}}</strong><br>
{{customer_email}} | +91 - {{customer_phone_number}}</p>
<p>PAN: <strong>{{customer_pan_number}}</strong></p>
<hr>

<table style="word-wrap: break-word;">
    <thead style="text-align: center;">
<!--         <th style="width: 13%;">Product</th>
        <th style="width: 25%;">Scheme</th>
        <th style="width: 10%;">Units</th>
        <th style="width: 13%;">Net Amount Invested (INR)</th>
        <th style="width: 13%;">Total Amount Withdrawn (INR)</th>
        <th style="width: 13%;">Current Value (INR)</th>
        <th style="width: 13%;">Net Gain (INR)</th>
 -->    
        <th style="width: 16%;">Product</th>
        <th style="width: 25%;">Scheme</th>
        <th style="width: 11%;">Units</th>
        <th style="width: 16%;">Net Amount Invested (INR)</th>
        <th style="width: 16%;">Current Value (INR)</th>
        <th style="width: 16%;">Net Gain (INR)</th>
        </thead>
    <tbody>
        {% for summary_item in summary %}
        <tr style="text-align: right;">

            <td rowspan="{{summary_item['schemes']|length}}" style="text-align: center;">
            {{ summary_item['product_name'] }}
            {% if summary_item['description'] %}
                <br />
                {{ summary_item['description'] }}
            {% endif %}
            </td>

            {% for scheme_item in summary_item['schemes'] %}

            <td style="text-align: left;">{{scheme_item['name']}}
            <br />
            Allocation: <i>{{scheme_item['allocation_percent']}}%</i>
            </td>
            <td style="text-align: right;">{{'%0.3f'| format(scheme_item['units']|float)}}</td>
            <td style="text-align: right;">{{'%0.2f'| format(scheme_item['amount_invested']|float)}}
            </td>
<!--             <td style="text-align: right;">{{'%0.2f'| format(scheme_item['amount_withdrawn']|float)}}
            </td>
 -->            <td style="text-align: right;">{{'%0.2f'| format(scheme_item['current_value']|float)}}</td>
            <td style="text-align: right;">
            {% set net_gain = (scheme_item['current_value']|float) - (scheme_item['amount_invested']|float) %}
            
            {% set net_gain = '%0.2f'| format(net_gain|float) %}
                
            {% if (net_gain|int) > 0 %}
                {{ "+" + net_gain|string }}
            {% else %}
                {{ net_gain|string }}
            {% endif %}
            </td>

            
            {% if not loop.last %}
        </tr>
        <tr>
            {% endif %}
            {% endfor %}

        </tr>

        {% endfor %}

    </tbody>
</table>


{% for transaction_item in transactions %}


<table style="word-wrap: break-word; margin-bottom: 8px;">
<thead>
    <tr>
        <th colspan="6">
        {{transaction_item['product_name']}} {% if transaction_item['description'] %}({{transaction_item['description']}}){% endif %}
        <br />
        {{transaction_item['scheme']}}/<strong>Folio No: {{transaction_item['folio_number']}}</strong>
        </th>
    </tr>
    <tr style="text-align: center;">
        <!-- <th style="width: 20%;">Date</th>
        <th style="width: 15%;">Transaction Type</th>
        <th style="width: 20%;">Amount (INR)</th>
        <th style="width: 15%;">NAV</th>
        <th style="width: 15%;">Units (Purchased/Redeemed) </th> -->
        <!-- <th style="width: 15%;">Balance Units</th> -->
        <th style="width: 20%;">Date</th>
        <th style="width: 17%;">Transaction Type</th>
        <th style="width: 25%;">Amount (INR)</th>
        <th style="width: 20%;">NAV</th>
        <th style="width: 18%;">Units (Purchased/Redeemed) </th>
        
    </tr>
</thead>
<tbody>
    {% for transaction in transaction_item['transactions'] %}
        <tr>
<!--             <td>transaction['date']</td> -->
            <td>
            {% set trx_date, trx_time = transaction['date_time'].split('|') %}
            {{ trx_date }}
            <br />
            {{ trx_time }}
            </td>
            <td style="text-align: center;">{{transaction['type']|title}}</td>
            <td style="text-align: right;">{{'%0.2f'| format(transaction['amount']|float)}}</td>
            <td style="text-align: center;">{{'%0.4f'| format(transaction['nav']|float)}}</td>
            <td style="text-align: right;">
            {% if (transaction['type']|upper) == 'REDEEM' %} {{'-'}}
            {% else %}{{'+'}}
            {% endif %}
            {{ '%0.3f'| format(transaction['units_involved']|float) }}
            </td>
            <!-- <td style="text-align: right;">
            {{ '%0.3f'| format(transaction['balance_units']|float) }}
            </td> -->
        </tr>
    {% endfor %}

</tbody>
</table>


{% endfor %}


<!-- 
<footer>
<p><strong>*</strong><small>This is a computer generated statement.</small></p>
<hr />
<p>Website: <a href="">https://sqrrl.in</a> | <strong>ARN-112848</strong></p>
</footer>
 -->
<!-- <div class="footer">Page: <span class="pagenum"></span></div> -->

<footer>
<div class="footer">
<p><strong>*</strong><small>This is a computer generated statement.</small></p>
<hr />
<p>Website: <a href="">https://sqrrl.in</a> | <strong>ARN-112848</strong></p>
</div>
</footer>

</body>
</html>